* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 25px 35px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: black;
}

header nav ul li a {
    padding: 0 40px;
    font-size: 2vw;
}

.hero-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.main {
    display: flex;
    margin: 30px;
}

.main div {
    height: 200px;
    width: 200px;
    border: black solid medium;
    justify-content: space-between;
}

.about-me {
    flex: 1;
    font-size: 36px;
    text-align: center;
    padding: 30px;
    margin-right: 20px;
    border-right: black solid medium;
}

.description {
    flex: 4;
    font-size: 21px;
    margin: 10px;
}

.projects {
    flex: 1;
    font-size: 36px;
    text-align: center;
    padding:30px;
    margin-right: 20px;
    border-right: black solid medium;
}

.boxes {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}