
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 25px 35px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    padding: 0 40px;
    font-size: 2vw;
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url(./images/background.jpg);
    background-position: cover;
    background-attachment: fixed;
    background-position: 20%;
    z-index: 9999;
}

main {
    background-color: beige;
}    

.main {
    display: flex;
    margin: 0px;
    padding: 50px 0 0 0;
}

.main div {
    border: black solid medium;
    justify-content: space-between;
}

.about-me {
    flex: 1;
    font-size: 36px;
    text-align: center;
    padding: 30px;
    margin-right: 20px;
    border-right: black solid medium;
}

.description {
    flex: 4;
    font-size: 21px;
    margin: 10px;
    padding:0 35px 0 35px;
}

.projects {
    flex: 0 0 1;
    font-size: 36px;
    text-align: center;
    padding:85px;
    margin-right: 20px;
    border-right: black solid medium;
    
}

.boxes {
    display: flex;
    flex: 3 3 4;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    
}

.boxes div {
    width: 40%;
    height: 175px;
    margin: 50px;
}


.boxes .rb-box {
    width: 70%;
    margin: 40px;
    height: 350px;
    border: black solid medium
}

.rb-box {
    background-image: url(./images/hero-bg.jpg);
    background-size: 900px;
}

.mark-box {
    background-image: url(./images/digital-marketing-meeting.jpg);
    background-size:500px;
}

.reel-box {
    background-image: url(./images/moviereel.jpg);
    background-size: 500px;
    background-position: 80%;
}

.robo-box {
    background-image: url(./images/robot-gladiator.jpg);
    background-size: 500px;
    background-position-x: 10%;
    background-position-y: 50%;
}

.cane-box {
    background-image: url(./images/hurricane-tracker.jpg);
    background-size: 500px;
}

.reach-out {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 48px;
}


.contact-info {
    display: flex;
    font-size: 28px;
    justify-content: space-between;
    margin: 10px;
    padding: 50px;
}


/* Left to do:

- Style projects (hide text and use hover, create shadow)
- Finish Reach Out Section



